body{
  font-family: 'Roboto', sans-serif;
}

.principal-box {
  margin: 10px auto;
  box-shadow: 1px 1px 19px 15px rgba(43,43,43,0.34);
  padding: 35px;
  box-sizing: border-box;
  border-radius: 15px;
  max-width: 500px;
}

.logo {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.principal-box h1 {
  width: 400px;
  color: #264653;
  font-size: 18px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.principal-box p {
  width: 400px;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.5;
}

.principal-box video{
  width: 100%;
  height: auto;
  background-color: #E5E5D8;
  border-radius: 15px;
  margin-bottom: 5px;
}

.principal-box button{
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #E76F51;
  color: white;
  border-radius: 10px;
  border: none;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
}

.principal-box button:focus{
  outline: none;
  background-color: #2A9D8F;
  transition-duration: 1s;
  font-family: 'Roboto', sans-serif;
}

.principal-box img{
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.footer img {
  padding-top: 20px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.footer h1 {
  width: 400px;
  color: #264653;
  font-size: 14px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.footer p {
  width: 400px;
  color: #264653;
  font-size: 11px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}